.forecast-list {
  background: transparent;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(234, 234, 235, 0.123));
}

.icon-wrapper img {
  width: 28px;
  height: 28px;
}
